misc*
keys*
.idea*
private*
__pycache__*
cut_code.py
flag.txt
linear_programm.txt
powerbi*
data/*
data_temp/*
logs/*
*.pyc
*.egg-info
lock/*
environment.env
.env
teleclinic_config.json
*.png
data/*